VITE_AZURE_CLIENT_ID=00000000-0000-0000-0000-000000000000
VITE_AZURE_AUTHORITY=https://login.microsoftonline.com/common
VITE_AZURE_SCOPES=https://api.powerplatform.com/.default
VITE_REDIRECT_URI=http://localhost:5173
VITE_AGENT_ENDPOINT=https://197ec8e59d00eac5b672cf35f6882d.d9.environment.api.powerplatform.com/copilotstudio/dataverse-backed/authenticated/bots/crfaf_Fusion5SalesIntelligenceAgent/conversations?api-version=2022-03-01-preview
